
root { 
    display: block;
}

body{
    background-color:darkred;
   
}

#main{
   
 
    background-position: center;
    background-color:darkred;
    width:1200px;
    height:600px;
  
      
       
}

#welcome{
    margin-left: 550px;
  color:azure;
  
   
}

#flagge{
    
     background-repeat:no-repeat;
          margin-top:100px;
        margin-left:600px;
}

#center{
   
    
}
#deutsch{
    margin-left:200px;
    width:300px;
    height:300px;
    
    
}

#eingabe{
   
     
}
#pruefe{
    
     margin-left:100px;
     
    
    
}
#button{
    background-color:bisque;
     border-color:black;
     border-style:groove;
     border-style:double;
     
}

#wort{
    font-weight:bolder;
    font-family:serif;
    font-style:italic;
    color:azure;
}

#eintragen
{
    
}

#inputde{
  height:30px;
   
}
#inputes{
  height:30px;
   
}

#submit{
    
    background-image:url(pixx/buch2.jpg);
  
    width:200px;
    height:35px;
}
#ausgabe{
    color:azure;
    font-weight:bolder;
}

#zurueck{
    background-color:highlighttext;
  
    
}
#weiter{
    background-color:highlighttext;
    margin-top:20px;
  
    
}

#ergebnis
{
    background-color:thistle;
    border-color:blue;
    border-style:groove;
    border-width:thick;
    margin-left:500px;
    margin-bottom:400px;
    height:300px;
    
}